<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--安全配置-->
<div class="box" style="box-shadow: none;border-top: none;width: 100%">
    <div class="box-body">
        <!-- 登录锁定配置-->
        <div>
            <!--<div style="float: left;position: relative;top: 50%;margin-top: -11px;border-radius: 1px;margin-right: 7px;width: 3px;height: 17px;background-color: rgb(0, 152, 252);vertical-align: middle;"></div>-->
            <span  class="new-font-color">登录锁定配置</span>
            <button type="button" id="lockeditbtn" class="btn newaddbtn" data-toggle="modal" data-target="#modal-primary">编辑</button>
        </div>
        <!-- 文字下面的蓝条条 -->
        <div class="new-line-color"></div>
        <hr class="security_hr1">
        <div>
            <input type="hidden" id="user_id1" />
            <div>
                <span>锁定方式：<span id="user_lock_type1"></span></span>
            </div><br>
            <div>
                <span>尝试密码次数：<span id="user_lock_try_count1"></span>次</span>
            </div><br>
            <div>
                <span>锁定时长：<span id="user_lock_time_length1"></span>分钟</span>
            </div><br><br>
        </div>
        <!-- 密码策略配置-->
		<hr class="security_hr2">
        <div class="se_policy">
            <!--<div style="float: left;position: relative;top: 50%;margin-top: -11px;border-radius: 1px;margin-right: 7px;width: 3px;height: 17px;background-color: rgb(0, 152, 252);vertical-align: middle;"></div>-->
            <span   class="new-font-color">密码策略配置</span>
            <button type="button" id="pwdpolicyeditbtn" class="btn newaddbtn" data-toggle="modal" data-target="#modal-default2">编辑</button></div>
        <!-- 文字下面的蓝条条 -->
        <div class="new-line-color se_line"></div>
        <hr class="security_hr3">
        <div class="policy_body">
            <input type="hidden" id="password_id1">
            <div>
                <span>密码强度校验：</span>
                <span><span id="password_verify1"></span></span>
            </div><br>
            <div>
                <span>密码相同校验：</span>
                <span><span id="password_verification_times1"></span></span>
            </div><br>

            <div>
                <span>新用户强制改密：</span>
                <span><span id="password_newuser_forcechange1"></span></span>
            </div><br>

            <div>
                <span>密码修改周期：</span>
                <span><span id="password_cycle1"></span></span>
            </div><br>

            <div>
                <span>新用户默认密码：</span>
                <span><span id="new_user_default_password1"></span></span>
            </div><br><br>
        </div>
        <hr class="security_hr4">
        <!-- WEB超时配置-->
        <div class="security_web">
            <span class="new-font-color">Web登录配置</span>
            <button type="button" id="webeditbtn" class="btn newaddbtn" data-toggle="modal" data-target="#web">编辑</button>
        </div>
        <!-- 文字下面的蓝条条 -->
        <div class="new-line-color web_line"></div>
        <hr class="security_hr5">
        <div class="web_body">
            <input type="hidden" id="web_web_id1">
            <div>
                <span>登录超时:<span id="web_timeout1" style="margin-left: 10px;"></span>分钟</span><br>
                <span>同一用户WEB在线会话数:<span id="same_user1" style="margin-left: 10px;"></span>个</span>
            </div><br><br>
        </div>
       <hr class="security_hr6">
      <!--远程管理主机-->
        <div class="security_admin">
            <input type="hidden" id="admin_login_ip_id1">
            <span   class="new-font-color">远程管理主机</span>
            <button type="button" id="admin_login_ip1" class="btn newaddbtn" data-toggle="modal" data-target="#modal1">编辑</button></div>
        <!-- 文字下面的蓝条条 -->
        <div class="new-line-color admin_line" ></div>
        <hr class="security_hr7">
        <div class="admin_body">
          <div>
                <span>远程管理主机地址：</span>
                <span><span id="address">192.168.0.1</span></span>
            </div><br><br>
        </div>
    </div>
</div>
<!--登录锁定配置-->
<div class="modal modal-hides in" id="modal-primary" style="padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f7f7f7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <span class="modal-title" >登录锁定配置</span>
            </div>
            <div class="modal-body">
                <input type="hidden" id="user_id">
                <div>
                    <span>锁定方式：</span>
                    <span id="user_lock_type">
						<lable style="margin-right: 10px;"><input type="radio" name="suoding" value="0" checked /><span>&nbsp;&nbsp;用户</span></lable>
						<lable><input type="radio" name="suoding" value="1" /><span>&nbsp;&nbsp;来源IP</span></lable></span>
                </div>
                <div>
                    <p><span><span>*</span>尝试密码次数：</span>
                        <input type="text" id="user_lock_try_count">&nbsp;次&nbsp;&nbsp;<span id="VPWD_lock_try_count" class="sign_red"></span></p>
                    <span>有效值0-999。如果设置为0，则不锁定用<br><span>户/来源IP</span></span>
                </div>
                <div>
                    <p><span><span>*</span>锁定时长：</span>
                        <input type="text" id="user_lock_time_length">&nbsp;分钟&nbsp;&nbsp;<span id="VPWD_lock_time_length" class="sign_red"></span></p>
                    <span class="lock_sign">有效值0-10080。如果设置为0，则锁定用<br><span>户/来源IP直到管理员解除</span></span>
                </div>
                <!-- <div style="margin-top: 20px;margin-left: 40px">
                    <p style="font-size: 12px"><span style="font-size: 12px;color: #505050;width: 90px;;">重置计数器时长：</span>
                        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;30" style="margin-top: -10px;width:210px;height: 30px;border-radius: 3px;border: 1px solid #ccc;font-size: 12px;margin-left: 5px">&nbsp;分钟</p><span style="margin-left:103px;border-radius: 3px;font-size: 12px;color: #a4abb5">有效值1-10080。登录尝试密码失败之后，<br><span style="margin-left: 103px;border-radius: 3px;font-size: 12px;color:#a4abb5">将登录尝试失败计数器重置为0次所需要的时间，默认值为5</span></span>
                    </p>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn newaddbtn pull-right" id="lock_button" style="height: 30px;color: #fff;font-size: 12px;;margin-left: 10px">确定</button>
                <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal" style="height: 30px;font-size: 12px">取消</button>
                <input type="hidden" id="user_lock_id" />
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!--密码策略配置-->
<div class="modal modal-hides in" id="modal-default2" style="padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f7f7f7;width: 599px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <span class="modal-title" >密码策略配置</span>
            </div>
            <div class="modal-body">
                <div>
                    <p><span>密码强度校验：	</span></p>
                    <div id="safe_password_verify">
                        <input type="checkbox"  class="input" value="0" name="strength" id="strength">
                    </div>
                    <span class="pass_sign1">开启强密码校验，密码长度为8-32个字符，<br><span>且包含大小写字母、数字和特殊字符，不支持空格</span>
                    </span>
                </div>
                <div>
                    <p><span>新用户强制改密：</span></p>
                    <div id="safe_password_newuser_forcechange">
                        <input type="checkbox" class="input" value="0" id="force" name="force">
                        <span class="pass_sign2">本地认证用户首次登录系统后必须修改密码<br></span>
                    </div>
                </div>
                <div>
                    <p><span><span>*</span>密码相同校验：</span>
                        <input type="text"  id="password_verification_times">&nbsp;次&nbsp;&nbsp;<span id="VPWD_password_verification_times" class="sign_red"></span>
                    </p>
                    <span>有效值1-30。检查新密码不能与前N次<br></span>
                    <span>设置的密码相同</span>
                </div>
                <div>
                    <p><span><span>*</span>密码修改周期：</span>
                        <input type="text" id="password_cycle">&nbsp;天&nbsp;&nbsp;<span id="VPWD_password_cycle" class="sign_red"></span>
                    </p>
                    <span>有效值0-365。如果设置为0，则账户密码<br><span>永不过期，否则当达到修改周期后须修改密码</span>
  						</span>
                </div>
                <div>
                    <p><span>新用户默认密码：</span>
                        <input type="text"   id="new_user_default_password">&nbsp;&nbsp;<span id="Vnew_user_default_password" class="sign_red"></span>
                    </p>
                </div>
            </div>
            <div class="modal-footer" style="width: 599px;">
                <button type="button" class="btn newaddbtn pull-right" id="password_button" style="height: 30px;color: #fff;font-size: 12px;margin-left: 10px">确定</button>
                <button type="button" class="btn btn-default newaddbtn2 " data-dismiss="modal" style="height: 30px;font-size: 12px">取消</button>
                <input type="hidden" id="password_id">
            </div>
        </div>
    </div>
</div>
<!--Web登录配置-->
<div class="modal modal-hides in" id="web" style=" padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f7f7f7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <span  class="modal-title">WEB登录设置</span>
            </div>
            <div class="modal-body">
                <div>
                    <p>
                        <span><span>*</span>WEB登录超时：</span>
                        <input type="losss" id="web_timeout">&nbsp;&nbsp;分钟&nbsp;&nbsp;<span id="VPWD_web_timeout" class="sign_red"></span><br>
                        <span class="web_sign1">有效值1-3600,当用户无操作超出时长后，<br><span>再次操作需要重新登录</span></span>
                    </p>
                     <p>
                         <span><span>*</span>同一用户WEB在线会话数：</span>
                        <input type="text" id="same_user">&nbsp;&nbsp;个&nbsp;&nbsp;<span id="Vsame_user" class="sign_red"></span><br>
                        <span class="web_sign2">有效值0-100,0为不限制</span>
                    </p>
                </div>
             </div><br>
                <div class="modal-footer">
                    <button type="button" class="btn newaddbtn pull-right" id="web_button"  style="height: 30px;color: #fff;font-size: 12px;margin-left: 10px">确定</button>
                    <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal" style="height: 30px;font-size: 12px">取消</button>
                    <input type="hidden" id="web_web_id"/>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- 远程管理主机 -->
<div class="modal modal-hides in" id="modal1" style=" padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f7f7f7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <span  class="modal-title">远程管理主机配置</span>
            </div>
            <div class="modal-body">
            <div>
                <span><span>*</span>远程管理主机地址：</span>
                <input type="text"  id="admin_login_ip">&nbsp;&nbsp;<span id="VPWD_admin_login_ip" style="color: red;font-size:12px;"></span><br>
            </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn newaddbtn pull-right" id="admin_ip_button"  style="height: 30px;color: #fff;font-size: 12px;margin-left: 10px">确定</button>
                    <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal" style="height: 30px;font-size: 12px">取消</button>
                    <input type="hidden" id="admin_login_ip_id"/>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../js/view_js/security_config.js"></script>
</body>
</html>