<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.ApppubServerDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.ApppubServer">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="ip" jdbcType="VARCHAR" property="ip"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="desc" jdbcType="VARCHAR" property="desc"/>
		<result column="type" jdbcType="INTEGER" property="type"/>
		<result column="port" jdbcType="INTEGER" property="port"/>
		<result column="department" jdbcType="INTEGER" property="department"/>
		<result column="depart_name" jdbcType="VARCHAR" property="depart_name"/>
		<result column="adport" jdbcType="INTEGER" property="adport"/>
		<result column="account" jdbcType="VARCHAR" property="account"/>
	</resultMap>

	<resultMap id="apppubServerRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addApppubServer" parameterType="com.longersec.blj.domain.ApppubServer">
		INSERT INTO lsblj_apppub_server
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="ip != null">`ip`=#{ip},</if>
		<if test="name != null">`name`=#{name},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="department != null">`department`=#{department},</if>
		<if test="adport != null">`adport`=#{adport},</if>
		</set>
	</insert>

	<update id="editApppubServer" parameterType="com.longersec.blj.domain.ApppubServer">
		UPDATE lsblj_apppub_server
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="ip != null">`ip`=#{ip},</if>
		<if test="name != null">`name`=#{name},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="department != null">`department`=#{department},</if>
		<if test="adport != null">`adport`=#{adport},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delApppubServer" parameterType="java.util.List">
		DELETE FROM lsblj_apppub_server
		where id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	<select id="findAll" resultMap="BaseResultMap, apppubServerRecordCounts" resultType="java.lang.Object">
		SELECT
		SQL_CALC_FOUND_ROWS
		las.`id`,las.`ip`,las.`desc`,las.`name`,las.`port`,las.`department`,ld.`name` depart_name
		FROM lsblj_apppub_server las
		LEFT JOIN `lsblj_department` ld ON las.`department` = ld.id
		WHERE 1
		<if test="type==1">AND(
			las.`name` like CONCAT('%',#{sname},'%')
			or las.`ip` like CONCAT('%',#{sname},'%')
			or las.`desc` like CONCAT('%',#{sname},'%')
			)</if>
		<if test="type==2">AND las.`name` like CONCAT('%',#{sname},'%')</if>
		<if test="type==3">AND las.`ip` like CONCAT('%',#{sname},'%')</if>
		<if test="type==4">AND las.`desc` like CONCAT('%',#{sname},'%')</if>
		<if test="page_start != null and page_length != null">
		ORDER BY las.name ASC
		LIMIT #{page_start},#{page_length} 
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>

	<select id="selectAll" resultType="com.longersec.blj.domain.ApppubServer">
		select * from lsblj_apppub_server;
	</select>

	<select id="selectName" resultType="java.lang.String">
		select name from lsblj_apppub_server where id!=#{id} and name=#{name} limit 1;
	</select>

	<select id="checkname" resultType="com.longersec.blj.domain.ApppubServer">
		SELECT * FROM lsblj_apppub_server where name =#{name} limit 1;
	</select>
	
	<select id="getById" resultMap="BaseResultMap">
		SELECT CAST(AES_DECRYPT(password,(select aeskey from lsblj_config_password_encrypt_key limit 1)) AS VARCHAR(200)) password,lsblj_apppub_server.* FROM lsblj_apppub_server WHERE id = #{id}
	</select>
	
	<insert id="insertMore">
		<foreach collection="ArrayList" item="item" index="index" >
			INSERT INTO lsblj_apppub_server
			<set>
				`name`=#{item.name},
				`ip`=#{item.ip},
				`port`=#{item.port},
				`account`=#{item.account},
				`password`=AES_ENCRYPT(#{item.password},(select aeskey from lsblj_config_password_encrypt_key limit 1)),
				`desc`=#{item.desc};
			</set>
		</foreach>
	</insert>
	
	<select id="checkip" resultType="com.longersec.blj.domain.ApppubServer">
		select * from lsblj_apppub_server where ip = #{ip} 
		<if test="id != null">
		 AND id != #{id}
		</if>
		 limit 1;
	</select>
</mapper>
