<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.CmdgroupCmdDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.CmdgroupCmd">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="group_id" jdbcType="INTEGER" property="group_id"/>
		<result column="command" jdbcType="VARCHAR" property="command"/>
		<result column="risk_rating" jdbcType="INTEGER" property="risk_rating"/>
		<result column="disposal_strategy" jdbcType="INTEGER" property="disposal_strategy"/>
		<result column="regular" jdbcType="INTEGER" property="regular"/>
		<result column="risk_desc" jdbcType="VARCHAR" property="risk_desc"/>

	</resultMap>

	<resultMap id="cmdgroupCmdRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addCmdgroupCmd" parameterType="com.longersec.blj.domain.CmdgroupCmd">
		INSERT INTO lsblj_cmdgroup_cmd
		<set>
		<if test="group_id != null">`group_id`=#{group_id},</if>
		<if test="command != null">`command`=#{command},</if>
		<if test="risk_rating != null">`risk_rating`=#{risk_rating},</if>
		<if test="disposal_strategy != null">`disposal_strategy`=#{disposal_strategy},</if>
		<if test="regular != null">`regular`=#{regular},</if>
		<if test="risk_desc != null">`risk_desc`=#{risk_desc},</if>
		</set>
	</insert>

	<update id="editCmdgroupCmd" parameterType="com.longersec.blj.domain.CmdgroupCmd">
		UPDATE lsblj_cmdgroup_cmd
		<set>
		<if test="group_id != null">`group_id`=#{group_id},</if>
		<if test="command != null">`command`=#{command},</if>
		<if test="risk_rating != null">`risk_rating`=#{risk_rating},</if>
		<if test="disposal_strategy != null">`disposal_strategy`=#{disposal_strategy},</if>
		<if test="regular != null">`regular`=#{regular},</if>
		<if test="risk_desc != null">`risk_desc`=#{risk_desc},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deletegroupcmd" parameterType="com.longersec.blj.domain.CmdgroupCmd">
		DELETE FROM lsblj_cmdgroup_cmd WHERE group_id = #{id}
	</delete>

	<delete id="delCmdgroupCmd" parameterType="java.util.List">
		DELETE FROM lsblj_cmdgroup_cmd
		where id IN (
		<foreach collection="list" item="item">
		#{item},
		</foreach>
		0)
	</delete>
	<select id="findAll" resultMap="BaseResultMap, cmdgroupCmdRecordCounts" resultType="java.lang.Object">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		lsblj_cmdgroup_cmd FROM lsblj_cmdgroup_cmd 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>

	<select id="queryCmdGroupCmdByGroupId" resultMap="BaseResultMap,apppubProgramRecordCounts" resultType="java.lang.Object">
		SELECT 	SQL_CALC_FOUND_ROWS
		* FROM lsblj_cmdgroup_cmd lcc
		WHERE
		group_id = #{group_id}
		<if test="type==1">AND(
			lcc.`command` like CONCAT('%',#{sname},'%')
			or lcc.`risk_rating` like CONCAT('%',#{sname},'%')
			or lcc.`disposal_strategy` like CONCAT('%',#{sname},'%')
			)
		</if>
		<if test="type==2">AND lcc.`command` like CONCAT('%',#{sname},'%')</if>
		<if test="type==3">AND lcc.`risk_rating` like CONCAT('%',#{sname},'%')</if>
		<if test="type==4">AND lcc.`disposal_strategy` like CONCAT('%',#{sname},'%')</if>
		<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
</mapper>
