<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.ConfigRouteDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.ConfigRoute">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="device_type" jdbcType="INTEGER" property="device_type"/>
		<result column="device" jdbcType="VARCHAR" property="device"/>
		<result column="destion_ip" jdbcType="VARCHAR" property="destion_ip"/>
		<result column="netmask" jdbcType="VARCHAR" property="netmask"/>
		<result column="prefix" jdbcType="INTEGER" property="prefix"/>
		<result column="nextaddress" jdbcType="VARCHAR" property="nextaddress"/>
		<result column="desc" jdbcType="VARCHAR" property="desc"/>
	</resultMap>

	<resultMap id="configRouteRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addConfigRoute" parameterType="com.longersec.blj.domain.ConfigRoute">
		INSERT INTO lsblj_config_route
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="device_type != null">`device_type`=#{device_type},</if>
		<if test="device != null">`device`=#{device},</if>
		<if test="destion_ip != null">`destion_ip`=#{destion_ip},</if>
		<if test="netmask != null">`netmask`=#{netmask},</if>
		<if test="prefix != null">`prefix`=#{prefix},</if>
		<if test="nextaddress != null">`nextaddress`=#{nextaddress},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		</set>
	</insert>

	<update id="editConfigRoute" parameterType="com.longersec.blj.domain.ConfigRoute">
		UPDATE lsblj_config_route
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="device_type != null">`device_type`=#{device_type},</if>
		<if test="device != null">`device`=#{device},</if>
		<if test="destion_ip != null">`destion_ip`=#{destion_ip},</if>
		<if test="netmask != null">`netmask`=#{netmask},</if>
		<if test="prefix != null">`prefix`=#{prefix},</if>
		<if test="nextaddress != null">`nextaddress`=#{nextaddress},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delConfigRoute" parameterType="java.util.List">
		DELETE FROM lsblj_config_route
		where id IN (
		<foreach collection="list" item="item" separator=",">
		#{item},
		</foreach>
		0)
	</delete>
	<select id="findAll" resultMap="BaseResultMap, configRouteRecordCounts">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		* FROM lsblj_config_route 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
	<select id="getById" resultMap="BaseResultMap">
		SELECT * FROM lsblj_config_route where id=#{id}
	</select>

	<select id="checkip" resultType="java.lang.Integer">
		select count(*) from lsblj_config_route where destion_ip = #{destion_ip} AND id != #{id} limit 1;
	</select>
</mapper>
