<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.ConfigRadiusDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.ConfigRadius">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="ip" jdbcType="VARCHAR" property="ip"/>
		<result column="port" jdbcType="INTEGER" property="port"/>
		<result column="protocol" jdbcType="INTEGER" property="protocol"/>
		<result column="secret_key" jdbcType="VARCHAR" property="secret_key"/>
		<result column="timeout" jdbcType="INTEGER" property="timeout"/>
		<result column="department_verify" jdbcType="INTEGER" property="department_verify"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="password" jdbcType="BLOB" property="password"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
	</resultMap>

	<resultMap id="configRadiusRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addConfigRadius" parameterType="com.longersec.blj.domain.ConfigRadius">
		INSERT INTO lsblj_config_radius
		<set>
		
		<if test="ip != null">`ip`=#{ip},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="protocol != null">`protocol`=#{protocol},</if>
		<if test="secret_key != null">`secret_key`=#{secret_key},</if>
		<if test="timeout != null">`timeout`=#{timeout},</if>
		<if test="department_verify != null">`department_verify`=#{department_verify},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="password != null">`password`=#{password},</if>
		<if test="status != null">`status`=#{status},</if>
		</set>
	</insert>

	<update id="editConfigRadius" parameterType="com.longersec.blj.domain.ConfigRadius">
		UPDATE lsblj_config_radius
		<set>
		
		<if test="ip != null">`ip`=#{ip},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="protocol != null">`protocol`=#{protocol},</if>
		<if test="secret_key != null">`secret_key`=#{secret_key},</if>
		<if test="timeout != null">`timeout`=#{timeout},</if>
		<if test="department_verify != null">`department_verify`=#{department_verify},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="password != null">`password`=#{password},</if>
		<if test="status != null">`status`=#{status},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delConfigRadius" parameterType="java.util.List">
		DELETE FROM lsblj_config_radius
		where id IN (
		<foreach collection="list" item="item" separator=",">
		#{item},
		</foreach>
		0)
	</delete>
	<select id="findAll" resultMap="BaseResultMap, configRadiusRecordCounts">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		* FROM lsblj_config_radius 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
</mapper>
