<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.ConfigDbbackupDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.ConfigDbbackup">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="backup_time" jdbcType="VARCHAR" property="backup_time"/>
		<result column="filesize" jdbcType="INTEGER" property="filesize"/>
		<result column="desc" jdbcType="VARCHAR" property="desc"/>
	</resultMap>

	<resultMap id="configDbbackupRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addConfigDbbackup" parameterType="com.longersec.blj.domain.ConfigDbbackup">
		INSERT INTO lsblj_config_dbbackup 
		<set>
		`backup_time`=UNIX_TIMESTAMP(),
		<if test="backup_time != null">`backup_time`=#{backup_time},</if>
		<if test="filesize != null">`filesize`=#{filesize},</if>
		<if test="filepath != null">`filepath`=#{filepath},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		</set>
	</insert>

	<update id="editConfigDbbackup" parameterType="com.longersec.blj.domain.ConfigDbbackup">
		UPDATE lsblj_config_dbbackup
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="backup_time != null">`backup_time`=#{backup_time},</if>
		<if test="filesize != null">`filesize`=#{filesize},</if>
		<if test="desc != null">`desc`=#{desc},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delConfigDbbackup" parameterType="java.util.List">
		DELETE FROM lsblj_config_dbbackup
		where id IN (
		<foreach collection="list" item="item" separator=",">
		#{item},
		</foreach>
		0)
	</delete>
	<select id="findAll" resultMap="BaseResultMap, configDbbackupRecordCounts">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		FROM_UNIXTIME(backup_time) backup_time,lsblj_config_dbbackup.* FROM lsblj_config_dbbackup  
		ORDER BY backup_time DESC 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="getById" resultMap="BaseResultMap">
		SELECT * FROM lsblj_config_dbbackup where id=#{id}
	</select>
</mapper>
