<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.DeviceRecordDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.DeviceRecord">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="client_ip" jdbcType="VARCHAR" property="client_ip"/>
		<result column="server_ip" jdbcType="VARCHAR" property="server_ip"/>
		<result column="device_ip" jdbcType="VARCHAR" property="device_ip"/>
		<result column="device_name" jdbcType="VARCHAR" property="device_name"/>
		<result column="port" jdbcType="INTEGER" property="port"/>
		<result column="start" jdbcType="INTEGER" property="start"/>
		<result column="end" jdbcType="INTEGER" property="end"/>
		<result column="protocol_id" jdbcType="INTEGER" property="protocol_id"/>
		<result column="protocol_name" jdbcType="VARCHAR" property="protocol_name"/>
		<result column="user_id" jdbcType="INTEGER" property="user_id"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="realname" jdbcType="VARCHAR" property="realname"/>
		<result column="device_username" jdbcType="VARCHAR" property="device_username"/>
		<result column="time_length" jdbcType="INTEGER" property="time_length"/>
		<result column="type" jdbcType="VARCHAR" property="type"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="log_file" jdbcType="VARCHAR" property="log_file"/>
		<result column="log_file_size" jdbcType="INTEGER" property="log_file_size"/>
		<result column="video_file" jdbcType="VARCHAR" property="video_file"/>
		<result column="video_file_size" jdbcType="INTEGER" property="video_file_size"/>
		<result column="client_mac" jdbcType="VARCHAR" property="client_mac"/>
		<result column="auth_type" jdbcType="INTEGER" property="auth_type"/>
	</resultMap>

	<resultMap id="deviceRecordRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addDeviceRecord" parameterType="com.longersec.blj.domain.DeviceRecord">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">  
            <!-- SELECT LAST_INSERT_ID()：得到刚insert到数据表中的记录的主键值，只适用于自增主键 -->  
            SELECT LAST_INSERT_ID()  
        </selectKey>
		INSERT INTO lsblj_device_record
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="client_ip != null">`client_ip`=#{client_ip},</if>
		<if test="server_ip != null">`server_ip`=#{server_ip},</if>
		<if test="device_ip != null">`device_ip`=#{device_ip},</if>
		<if test="device_name != null">`device_name`=#{device_name},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="start != null">`start`=#{start},</if>
		<if test="end != null">`end`=#{end},</if>
		<if test="protocol_id != null">`protocol_id`=#{protocol_id},</if>
		<if test="user_id != null">`user_id`=#{user_id},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="realname != null">`realname`=#{realname},</if>
		<if test="device_username != null">`device_username`=#{device_username},</if>
		<if test="time_length != null">`time_length`=#{time_length},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="status != null">`status`=#{status},</if>
		<if test="log_file != null">`log_file`=#{log_file},</if>
		<if test="log_file_size != null">`log_file_size`=#{log_file_size},</if>
		<if test="video_file != null">`video_file`=#{video_file},</if>
		<if test="video_file_size != null">`video_file_size`=#{video_file_size},</if>
		<if test="client_mac != null">`client_mac`=#{client_mac},</if>
		<if test="auth_type != null">`auth_type`=#{auth_type},</if>
		</set>
	</insert>

	<update id="editDeviceRecord" parameterType="com.longersec.blj.domain.DeviceRecord">
		UPDATE lsblj_device_record
		<set>
		<if test="id != null">`id`=#{id},</if>
		<if test="client_ip != null">`client_ip`=#{client_ip},</if>
		<if test="server_ip != null">`server_ip`=#{server_ip},</if>
		<if test="device_ip != null">`device_ip`=#{device_ip},</if>
		<if test="device_name != null">`device_name`=#{device_name},</if>
		<if test="port != null">`port`=#{port},</if>
		<if test="start != null">`start`=#{start},</if>
		<if test="end != null">`end`=#{end},</if>
		<if test="protocol_id != null">`protocol_id`=#{protocol_id},</if>
		<if test="user_id != null">`user_id`=#{user_id},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="realname != null">`realname`=#{realname},</if>
		<if test="device_username != null">`device_username`=#{device_username},</if>
		<if test="time_length != null">`time_length`=#{time_length},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="status != null">`status`=#{status},</if>
		<if test="log_file != null">`log_file`=#{log_file},</if>
		<if test="log_file_size != null">`log_file_size`=#{log_file_size},</if>
		<if test="video_file != null">`video_file`=#{video_file},</if>
		<if test="video_file_size != null">`video_file_size`=#{video_file_size},</if>
		<if test="client_mac != null">`client_mac`=#{client_mac},</if>
		<if test="auth_type != null">`auth_type`=#{auth_type},</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delDeviceRecord" parameterType="java.util.List">
		DELETE FROM lsblj_device_record
		where id IN (
		<foreach collection="list" item="item" separator=",">
		#{item},
		</foreach>
		0)
	</delete>
	
	<select id="findAll" resultMap="BaseResultMap, deviceRecordRecordCounts">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		DATE_FORMAT(FROM_UNIXTIME(start),'%Y-%m-%d %H:%i:%s') start,DATE_FORMAT(FROM_UNIXTIME(end),'%Y-%m-%d %H:%i:%s') end,r.* FROM lsblj_device_record r LEFT JOIN lsblj_protocol p ON r.protocol_id=p.id 
		where r.id NOT IN(SELECT record_id FROM lsblj_live_sessions) 
		<if test="deviceRecord.protocol != null"> AND p.`name` like CONCAT('%',#{deviceRecord.protocol},'%')</if>
		<if test="deviceRecord.client_ip != null"> AND `client_ip` like CONCAT('%',#{deviceRecord.client_ip},'%')</if>
		<if test="deviceRecord.device_ip != null"> AND `device_ip` like CONCAT('%',#{deviceRecord.device_ip},'%')</if>
		<if test="deviceRecord.device_name != null"> AND `device_name` like CONCAT('%',#{deviceRecord.device_name},'%')</if>
		<if test="deviceRecord.username != null"> AND `username` like CONCAT('%',#{deviceRecord.username},'%')</if>
		<if test="deviceRecord.realname != null"> AND `realname` like CONCAT('%',#{deviceRecord.realname},'%')</if>
		<if test="deviceRecord.device_username != null"> AND `device_username` like CONCAT('%',#{deviceRecord.device_username},'%')</if>
		<if test="deviceRecord.start != null"> AND `start` &gt;= UNIX_TIMESTAMP(#{deviceRecord.start})</if>
		<if test="deviceRecord.end != null"> AND `start` &lt;= UNIX_TIMESTAMP(#{deviceRecord.end})</if>
		<if test="deviceRecord.device_username != null"> AND `device_username` like CONCAT('%',#{deviceRecord.device_username},'%')</if>
		<if test="deviceRecord.searchAll != null"> AND (p.`name` like CONCAT('%',#{deviceRecord.searchAll },'%') or `client_ip` like CONCAT('%',#{deviceRecord.searchAll },'%') or `device_ip` like CONCAT('%',#{deviceRecord.searchAll },'%') or `device_name` like CONCAT('%',#{deviceRecord.searchAll },'%') or `username` like CONCAT('%',#{deviceRecord.searchAll },'%') or `device_username` like CONCAT('%',#{deviceRecord.searchAll },'%') )</if>
		<if test="deviceRecord.command != null"> 
		 AND EXISTS( SELECT * FROM lsblj_device_record_command where command like CONCAT('%',#{deviceRecord.command},'%') AND lsblj_device_record_id=r.id )
		</if>
		ORDER BY start DESC 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="getEarlyRecord" resultMap="BaseResultMap">
		SELECT * FROM lsblj_device_record where log_file!="" and log_file_size &gt; 0 and  video_file!="" and video_file_size &gt; 0 ORDER BY `start` desc LIMIT 20
	</select>
	
	<select id="getById" resultMap="BaseResultMap">
		SELECT DATE_FORMAT(FROM_UNIXTIME(start),'%Y-%m-%d %H:%i:%s') start,DATE_FORMAT(FROM_UNIXTIME(end),'%Y-%m-%d %H:%i:%s') end,lsblj_device_record.*,lsblj_protocol.name protocol_name 
		FROM lsblj_device_record LEFT JOIN lsblj_protocol ON lsblj_device_record.protocol_id=lsblj_protocol.id 
		where lsblj_device_record.id=#{id}
	</select>

	<select id="selectAll" resultType="com.longersec.blj.domain.DeviceRecord">
		SELECT DATE_FORMAT(FROM_UNIXTIME(start),'%Y-%m-%d %H:%i:%s') start,DATE_FORMAT(FROM_UNIXTIME(end),'%Y-%m-%d %H:%i:%s') end,lsblj_device_record.*,lsblj_protocol.name as protocol_name FROM lsblj_device_record
		LEFT JOIN lsblj_protocol ON lsblj_device_record.protocol_id=lsblj_protocol.id
		ORDER BY start DESC
	</select>

	<select id="getTextTotal" resultType="java.lang.Integer">
		SELECT count(*) count FROM lsblj_device_record  WHERE protocol_id IN(1,3);
	</select>
	
	<select id="getGraphTotal" resultType="java.lang.Integer">
		SELECT count(*) count FROM lsblj_device_record  WHERE protocol_id IN(2,4);
	</select>

	<select id="get30DayTextIncrease" resultType="java.lang.Integer">
		SELECT count(*) count FROM lsblj_device_record WHERE start &gt;=UNIX_TIMESTAMP()-30*24*3600 AND protocol_id IN(1,3) 
	</select>
	
	<select id="get30DayGraphIncrease" resultType="java.lang.Integer">
		SELECT count(*) count FROM lsblj_device_record WHERE start &gt;=UNIX_TIMESTAMP()-30*24*3600 AND protocol_id IN(2,4) 
	</select>
	
	<!-- begin report -->
	<resultMap id="reportMap" type="java.util.Map">
		<result property="interval" column="interval" jdbcType="VARCHAR"/>
		<result property="deviceips" column="deviceips" jdbcType="INTEGER"/>
		<result property="users" column="users" jdbcType="INTEGER"/>
	</resultMap> 
	<resultMap id="sessionRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>
	
	<select id="selectTimeByHour" resultMap="reportMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(start),"%Y-%m-%d %H") `interval`, count(distinct device_ip) deviceips,count(distinct username) users 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND login_datetime &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND login_datetime &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(start),"%Y%m%d%H")
			 ORDER BY date_format(FROM_UNIXTIME(start),"%Y%m%d%H") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectTimeByDay" resultMap="reportMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(start),"%Y-%m-%d") `interval`, count(distinct device_ip) deviceips,count(distinct username) users 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(start),"%Y%m%d")
			ORDER BY date_format(FROM_UNIXTIME(start),"%Y%m%d") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectTimeByWeek" resultMap="reportMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(start),"%Y-%v") `interval`, count(distinct device_ip) deviceips,count(distinct username) users 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(start),"%Y%v")
			ORDER BY date_format(FROM_UNIXTIME(start),"%Y%v") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectTimeByMonth" resultMap="reportMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(start),"%Y-%m") `interval`, count(distinct device_ip) deviceips,count(distinct username) users 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(start),"%Y%m")
			ORDER BY date_format(FROM_UNIXTIME(start),"%Y%m") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	
	
	<resultMap id="timeLongDeviceMap" type="java.util.Map">
		<result property="device_ip" column="device_ip" jdbcType="VARCHAR"/>
		<result property="device_name" column="device_name" jdbcType="VARCHAR"/>
		<result property="total" column="total" jdbcType="INTEGER"/>
	</resultMap> 
	
	<resultMap id="timeLongUserMap" type="java.util.Map">
		<result property="username" column="username" jdbcType="VARCHAR"/>
		<result property="realname" column="realname" jdbcType="VARCHAR"/>
		<result property="total" column="total" jdbcType="INTEGER"/>
	</resultMap> 
	
	<select id="selectTimeLongByDevice" resultMap="timeLongDeviceMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS device_ip, device_name, sum(time_length) total 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			GROUP BY device_ip 
			ORDER BY sum(time_length) DESC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectTimeLongByUser" resultMap="timeLongUserMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS username, realname, sum(time_length) total 
			FROM lsblj_device_record 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			GROUP BY username 
			ORDER BY sum(time_length) DESC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<resultMap id="commandMap" type="java.util.Map">
		<result property="command" column="command" jdbcType="VARCHAR"/>
		<result property="total" column="total" jdbcType="INTEGER"/>
	</resultMap> 

	<select id="selectCommandReport" resultMap="timeLongUserMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS command, count(*) total 
			FROM lsblj_record_command 
			WHERE command!=''  
			<if test="start_date != null and start_date != ''">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND date_format(FROM_UNIXTIME(start),"%Y-%m-%d") &lt;= #{end_date} 
			</if>
			GROUP BY command  
			ORDER BY count(*) DESC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<resultMap id="alertMap" type="java.util.Map">
		<result property="system" column="system" jdbcType="VARCHAR"/>
		<result property="ssh" column="ssh" jdbcType="VARCHAR"/>
		<result property="total" column="total" jdbcType="INTEGER"/>
	</resultMap> 
	
	<select id="selectAlertByHour" resultMap="alertMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(operate_datetime),"%Y%m%d %H") `interval`, sum(if(protocol='ssh',1,0)) ssh, sum(if(protocol!='ssh',1,0)) system
			FROM lsblj_alert_log 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND operate_datetime &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND operate_datetime &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m%d%H")
			 ORDER BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m%d%H") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectAlertByDay" resultMap="alertMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(operate_datetime),"%Y-%m-%d") `interval`, sum(if(protocol='ssh',1,0)) ssh, sum(if(protocol!='ssh',1,0)) system
			FROM lsblj_alert_log 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND operate_datetime &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND operate_datetime &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m%d")
			 ORDER BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m%d") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectAlertByWeek" resultMap="alertMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(operate_datetime),"%Y%v") `interval`, sum(if(protocol='ssh',1,0)) ssh, sum(if(protocol!='ssh',1,0)) system
			FROM lsblj_alert_log 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND operate_datetime &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND operate_datetime &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%v")
			 ORDER BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%v") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
	
	<select id="selectAlertByMonth" resultMap="alertMap, sessionRecordCounts">
		SELECT SQL_CALC_FOUND_ROWS date_format(FROM_UNIXTIME(operate_datetime),"%Y%m") `interval`, sum(if(protocol='ssh',1,0)) ssh, sum(if(protocol!='ssh',1,0)) system
			FROM lsblj_alert_log 
			WHERE 1 
			<if test="start_date != null and start_date != ''">
				AND operate_datetime &gt;= #{start_date}
			</if>
			<if test="end_date != null and end_date != '' ">
				AND operate_datetime &lt;= #{end_date} 
			</if>
			 GROUP BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m")
			 ORDER BY date_format(FROM_UNIXTIME(operate_datetime),"%Y%m") ASC
			<if test="page_start != null and page_length != null">
			LIMIT #{page_start},#{page_length}
			</if>
			;SELECT found_rows() AS recordCounts;
	</select>
	
</mapper>
