<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.GConnectionDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.GConnection">
		<result column="connection_id" jdbcType="INTEGER" property="connection_id"/>
		<result column="connection_name" jdbcType="VARCHAR" property="connection_name"/>
		<result column="parent_id" jdbcType="INTEGER" property="parent_id"/>
		<result column="protocol" jdbcType="VARCHAR" property="protocol"/>
		<result column="proxy_port" jdbcType="INTEGER" property="proxy_port"/>
		<result column="proxy_hostname" jdbcType="VARCHAR" property="proxy_hostname"/>
		<result column="proxy_encryption_method" jdbcType="VARCHAR" property="proxy_encryption_method"/>
		<result column="max_connections" jdbcType="INTEGER" property="max_connections"/>
		<result column="max_connections_per_user" jdbcType="INTEGER" property="max_connections_per_user"/>
		<result column="connection_weight" jdbcType="INTEGER" property="connection_weight"/>
		<result column="failover_only" jdbcType="INTEGER" property="failover_only"/>
	</resultMap>

	<resultMap id="gConnectionRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addGConnection" parameterType="com.longersec.blj.domain.GConnection">
		<selectKey keyProperty="connection_id" order="AFTER" resultType="java.lang.Integer">  
            <!-- SELECT LAST_INSERT_ID()：得到刚insert到数据表中的记录的主键值，只适用于自增主键 -->  
            SELECT LAST_INSERT_ID()  
        </selectKey>
		INSERT INTO lsblj_g_connection
		<set>
		<if test="connection_id != null">`connection_id`=#{connection_id},</if>
		<if test="connection_name != null">`connection_name`=#{connection_name},</if>
		<if test="parent_id != null">`parent_id`=#{parent_id},</if>
		<if test="protocol != null">`protocol`=#{protocol},</if>
		<if test="proxy_port != null">`proxy_port`=#{proxy_port},</if>
		<if test="proxy_hostname != null">`proxy_hostname`=#{proxy_hostname},</if>
		<if test="proxy_encryption_method != null">`proxy_encryption_method`=#{proxy_encryption_method},</if>
		<if test="max_connections != null">`max_connections`=#{max_connections},</if>
		<if test="max_connections_per_user != null">`max_connections_per_user`=#{max_connections_per_user},</if>
		<if test="connection_weight != null">`connection_weight`=#{connection_weight},</if>
		<if test="failover_only != null">`failover_only`=#{failover_only},</if>
		</set>
	</insert>

	<update id="editGConnection" parameterType="com.longersec.blj.domain.GConnection">
		UPDATE lsblj_g_connection
		<set>
		<if test="connection_id != null">`connection_id`=#{connection_id},</if>
		<if test="connection_name != null">`connection_name`=#{connection_name},</if>
		<if test="parent_id != null">`parent_id`=#{parent_id},</if>
		<if test="protocol != null">`protocol`=#{protocol},</if>
		<if test="proxy_port != null">`proxy_port`=#{proxy_port},</if>
		<if test="proxy_hostname != null">`proxy_hostname`=#{proxy_hostname},</if>
		<if test="proxy_encryption_method != null">`proxy_encryption_method`=#{proxy_encryption_method},</if>
		<if test="max_connections != null">`max_connections`=#{max_connections},</if>
		<if test="max_connections_per_user != null">`max_connections_per_user`=#{max_connections_per_user},</if>
		<if test="connection_weight != null">`connection_weight`=#{connection_weight},</if>
		<if test="failover_only != null">`failover_only`=#{failover_only},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delGConnection" parameterType="java.util.List">
		DELETE FROM lsblj_g_connection
		where id IN (
		<foreach collection="list" item="item" separator=",">
		#{item},
		</foreach>
		0)
	</delete>
	<select id="findAll" resultMap="BaseResultMap, gConnectionRecordCounts">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		* FROM lsblj_g_connection 
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
</mapper>
