<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.UserDao">
	<sql id="zd">
		lsblj_user.`id`, `role_id`, `username`, `realname`, `ldap_dn`, `avatar`, `status`, `fail_count`, `lock_time`, `last_chpass`, `email`, `mobile`, `qq`, `wechat`,  `local_auth`, `finger_auth`, `sms_auth`, `radius_auth`, `dynamic_auth`, `ldap_auth`, `ad_auth`, `wechat_auth`, `email_auth`, `auth_type`, `last_login_ip`, `last_change_password`, `department`, `resolution`, `rdpdisk`, `session_title`, `groupid`, `google_auth_key`, `google_auth_token_used`,`sms_code`
	</sql>

	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.User">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="role_id" jdbcType="INTEGER" property="role_id"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="realname" jdbcType="VARCHAR" property="realname"/>
		<result column="ldap_dn" jdbcType="VARCHAR" property="ldap_dn"/>
		<result column="avatar" jdbcType="VARCHAR" property="avatar"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="groupid" jdbcType="VARCHAR" property="groupid"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="fail_count" jdbcType="INTEGER" property="fail_count"/>
		<result column="lock_time" jdbcType="INTEGER" property="lock_time"/>
		<result column="last_chpass" jdbcType="INTEGER" property="last_chpass"/>
		<result column="email" jdbcType="VARCHAR" property="email"/>
		<result column="mobile" jdbcType="VARCHAR" property="mobile"/>
		<result column="qq" jdbcType="VARCHAR" property="qq"/>
		<result column="wechat" jdbcType="VARCHAR" property="wechat"/>
		<result column="creator_id" jdbcType="INTEGER" property="creator_id"/>
		<result column="create_time" jdbcType="INTEGER" property="create_time"/>
		<result column="description" jdbcType="VARCHAR" property="description"/>
		<result column="local_auth" jdbcType="INTEGER" property="local_auth"/>
		<result column="sms_auth" jdbcType="INTEGER" property="sms_auth"/>
		<result column="radius_auth" jdbcType="INTEGER" property="radius_auth"/>
		<result column="dynamic_auth" jdbcType="INTEGER" property="dynamic_auth"/>
		<result column="ldap_auth" jdbcType="INTEGER" property="ldap_auth"/>
		<result column="ad_auth" jdbcType="INTEGER" property="ad_auth"/>
		<result column="wechat_auth" jdbcType="INTEGER" property="wechat_auth"/>
		<result column="email_auth" jdbcType="INTEGER" property="email_auth"/>
		<result column="auth_type" jdbcType="INTEGER" property="auth_type"/>
		<result column="last_login_ip" jdbcType="VARCHAR" property="last_login_ip"/>
		<result column="last_change_password" jdbcType="INTEGER" property="last_change_password"/>
		<result column="department" jdbcType="INTEGER" property="department"/>
		<result column="depart_name" jdbcType="VARCHAR" property="depart_name"/>
		<result column="type" jdbcType="VARCHAR" property="type"/>
		<result column="resolution" jdbcType="INTEGER" property="resolution"/>
		<result column="rdpdisk" jdbcType="VARCHAR" property="rdpdisk"/>
		<result column="session_title" jdbcType="VARCHAR" property="session_title"/>
		<result column="rolename" jdbcType="VARCHAR" property="rolename"/>
		<result column="groupname" jdbcType="VARCHAR" property="groupname"/>
		<result column="sms_code" jdbcType="VARCHAR" property="sms_code"/>
		<result column="valid_datetime_start" jdbcType="VARCHAR" property="valid_datetime_start"/>
		<result column="valid_long" jdbcType="INTEGER" property="valid_long"/>
		<result column="valid_datetime_end" jdbcType="VARCHAR" property="valid_datetime_end"/>
	</resultMap>
	
	<resultMap id="users" type="com.longersec.blj.domain.DTO.Users">
		<id column="user_id" jdbcType="VARCHAR" property="user_id"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="realname" jdbcType="VARCHAR" property="realname"/>
	</resultMap>
	<resultMap id="userRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>

	<insert id="addUser" parameterType="com.longersec.blj.domain.User">
		INSERT INTO lsblj_user
		<set>
		<if test="role_id != null">`role_id`=#{role_id},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="realname != null">`realname`=#{realname},</if>
		<if test="ldap_dn != null">`ldap_dn`=#{ldap_dn},</if>
		<if test="avatar != null">`avatar`=#{avatar},</if>
		<if test="password != null">`password`=AES_ENCRYPT(#{password},(select aeskey from lsblj_config_password_encrypt_key limit 1)),</if>
		<if test="status != null">`status`=#{status},</if>
		<if test="groupid != null">`groupid`=#{groupid},</if>
		<if test="fail_count != null">`fail_count`=#{fail_count},</if>
		<if test="lock_time != null">`lock_time`=#{lock_time},</if>
		<if test="last_chpass != null">`last_chpass`=#{last_chpass},</if>
		<if test="email != null">`email`=#{email},</if>
		<if test="mobile != null">`mobile`=#{mobile},</if>
		<if test="qq != null">`qq`=#{qq},</if>
		<if test="wechat != null">`wechat`=#{wechat},</if>
		<if test="creator_id != null">`creator_id`=#{creator_id},</if>
		<if test="create_time != null">`create_time`=#{create_time},</if>
		<if test="description != null">`description`=#{description},</if>
		<if test="local_auth != null">`local_auth`=#{local_auth},</if>
		<if test="sms_auth != null">`sms_auth`=#{sms_auth},</if>
		<if test="radius_auth != null">`radius_auth`=#{radius_auth},</if>
		<if test="dynamic_auth != null">`dynamic_auth`=#{dynamic_auth},</if>
		<if test="finger_auth != null">`finger_auth`=#{finger_auth},</if>
		<if test="ldap_auth != null">`ldap_auth`=#{ldap_auth},</if>
		<if test="ad_auth != null">`ad_auth`=#{ad_auth},</if>
		<if test="wechat_auth != null">`wechat_auth`=#{wechat_auth},</if>
		<if test="email_auth != null">`email_auth`=#{email_auth},</if>
		<if test="auth_type != null">`auth_type`=#{auth_type},</if>
		<if test="last_login_ip != null">`last_login_ip`=#{last_login_ip},</if>
		<if test="last_change_password != null">`last_change_password`=#{last_change_password},</if>
		<if test="department != null">`department`=#{department},</if>
		<if test="depart_name != null">`depart_name`=#{depart_name},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="resolution != null">`resolution`=#{resolution},</if>
		<if test="rdpdisk != null">`rdpdisk`=#{rdpdisk},</if>
		<if test="session_title != null">`session_title`=#{session_title},</if>
		<if test="google_auth_key != null">`google_auth_key`=#{google_auth_key},</if>
		<if test="sms_code != null">`sms_code`=#{sms_code},</if>
		<if test="valid_datetime_start != null">`valid_datetime_start`=#{valid_datetime_start},</if>
		<if test="valid_long != null">`valid_long`=#{valid_long},</if>
		<if test="valid_datetime_end != null">`valid_datetime_end`=#{valid_datetime_end},</if>

		</set>;
	</insert>

	<update id="editUser" parameterType="com.longersec.blj.domain.User">
		UPDATE lsblj_user
		<set>
		<if test="role_id != null">`role_id`=#{role_id},</if>
		<if test="username != null">`username`=#{username},</if>
		<if test="realname != null">`realname`=#{realname},</if>
		<if test="ldap_dn != null">`ldap_dn`=#{ldap_dn},</if>
		<if test="depart_name != null">`depart_name`=#{depart_name},</if>
		<if test="avatar != null">`avatar`=#{avatar},</if>
		<if test="password != null and password != ''">`password`=AES_ENCRYPT(#{password},(select aeskey from lsblj_config_password_encrypt_key limit 1)),</if>
		<if test="status != null">`status`=#{status},</if>
		<if test="groupid != null">`groupid`=#{groupid},</if>
		<if test="fail_count != null">`fail_count`=#{fail_count},</if>
		<if test="lock_time != null">`lock_time`=#{lock_time},</if>
		<if test="last_chpass != null">`last_chpass`=#{last_chpass},</if>
		<if test="email != null">`email`=#{email},</if>
		<if test="mobile != null">`mobile`=#{mobile},</if>
		<if test="qq != null">`qq`=#{qq},</if>
		<if test="wechat != null">`wechat`=#{wechat},</if>
		<if test="creator_id != null">`creator_id`=#{creator_id},</if>
		<if test="create_time != null">`create_time`=#{create_time},</if>
		<if test="description != null">`description`=#{description},</if>
		<if test="local_auth != null">`local_auth`=#{local_auth},</if>
		<if test="sms_auth != null">`sms_auth`=#{sms_auth},</if>
		<if test="radius_auth != null">`radius_auth`=#{radius_auth},</if>
		<if test="dynamic_auth != null">`dynamic_auth`=#{dynamic_auth},</if>
		<if test="finger_auth != null">`finger_auth`=#{finger_auth},</if>
		<if test="ldap_auth != null">`ldap_auth`=#{ldap_auth},</if>
		<if test="ad_auth != null">`ad_auth`=#{ad_auth},</if>
		<if test="wechat_auth != null">`wechat_auth`=#{wechat_auth},</if>
		<if test="email_auth != null">`email_auth`=#{email_auth},</if>
		<if test="auth_type != null">`auth_type`=#{auth_type},</if>
		<if test="last_login_ip != null">`last_login_ip`=#{last_login_ip},</if>
		<if test="last_change_password != null">`last_change_password`=#{last_change_password},</if>
		<if test="department != null">`department`=#{department},</if>
		<if test="type != null">`type`=#{type},</if>
		<if test="resolution != null">`resolution`=#{resolution},</if>
		<if test="rdpdisk != null">`rdpdisk`=#{rdpdisk},</if>
		<if test="session_title != null">`session_title`=#{session_title},</if>
		<if test="google_auth_key != null">`google_auth_key`=#{google_auth_key},</if>
		<if test="google_auth_token_used != null">`google_auth_token_used`=#{google_auth_token_used},</if>
		<if test="sms_code != null">`sms_code`=#{sms_code},</if>
		<if test="valid_datetime_start != null">`valid_datetime_start`=#{valid_datetime_start},</if>
		<if test="valid_long != null">`valid_long`=#{valid_long},</if>
		<if test="valid_datetime_end != null">`valid_datetime_end`=#{valid_datetime_end},</if>
		</set>
		where id=#{id};
	</update>

	<update id="editName" parameterType="com.longersec.blj.domain.User">
		UPDATE lsblj_user
		<set>
		<if test="username != null">`username`=#{username},</if>
		<if test="email != null">`email`=#{email},</if>
		<if test="mobile != null">`mobile`=#{mobile},</if>
		<if test="qq != null">`qq`=#{qq},</if>
		</set>
		where id=#{id}
	</update>
	<update id="editstatus" parameterType="com.longersec.blj.domain.User">
    		UPDATE lsblj_user
    		<set>
    		<if test="status != null">`status`=#{status},</if>
    		<if test="fail_count != null">`fail_count`=#{fail_count},</if>
    		</set>
    		where id=#{id}
    	</update>
	
	<delete id="delUser" parameterType="java.util.List">
        DELETE FROM lsblj_user
        where id>3 and id IN(
        <foreach collection="list" item="item" >
            #{item},
        </foreach>
		0);
		DELETE FROM lsblj_group_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
		DELETE FROM lsblj_access_policy_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
		DELETE  FROM lsblj_cmd_policy_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
	</delete>

	<select id="findAll" resultMap="BaseResultMap, userRecordCounts" resultType="java.lang.Object">
		SELECT 
		SQL_CALC_FOUND_ROWS 
		<include refid="zd"/>, lsblj_user.description description,lsblj_role.name rolename, lsblj_department.name depart_name
		FROM lsblj_user
		LEFT JOIN lsblj_department ON lsblj_user.department=lsblj_department.id
		LEFT JOIN lsblj_role  ON lsblj_user.role_id=lsblj_role.id
		 where 1
		 <if test="user.rolename != null">AND lsblj_role.name like CONCAT('%',#{user.rolename},'%') </if>
		<if test="user.username != null"> AND `username` like CONCAT('%',#{user.username},'%')</if>
		<if test="user.depart_name != null"> AND lsblj_department.`name` like CONCAT('%',#{user.depart_name},'%')</if>
<!-- 	<if test="user.groupname != null"> AND lsblj_group.name like CONCAT('%',#{user.groupname},'%')</if> -->
		<if test="user.realname != null"> AND `realname` like CONCAT('%',#{user.realname},'%')</if>
		<if test="user.status != null"> AND `status` like CONCAT('%',#{user.status},'%')</if>
		<if test="user.searchall != null">
			AND (
				lsblj_role.name like CONCAT('%',#{user.searchall},'%')
				or `username` like CONCAT('%',#{user.searchall},'%')
				or lsblj_department.`name` like CONCAT('%',#{user.searchall},'%')
<!-- 				or lsblj_group.name like CONCAT('%',#{user.searchall},'%') -->
				or `status` like CONCAT('%',#{user.searchall},'%')
				or `realname` like CONCAT('%',#{user.searchall},'%')
				or `status` like CONCAT('%',#{user.searchall},'%')
			)
		</if>
		<if test="depart_ids!=null and depart_ids.size()>0">
		AND department in
		<foreach collection="depart_ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
       </if>
		 ORDER BY id ASC
		<if test="page_start != null and page_length != null">
		LIMIT #{page_start},#{page_length}
		</if>
		;SELECT found_rows() AS recordCounts;
	</select>
	
	<select id="selectOldDepartment" resultType="java.lang.Integer">
		SELECT `department` FROM  `lsblj_user` WHERE id = #{id};
	</select>
	
	<delete id="deleteUselessUser">
		DELETE FROM `lsblj_user` WHERE department = #{department};
		DELETE FROM lsblj_group_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
		DELETE FROM lsblj_access_policy_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
		DELETE  FROM lsblj_cmd_policy_user WHERE user_id NOT IN (SELECT id FROM lsblj_user);
	</delete>

	<select id="selectNameAndId" resultMap="users">
		SELECT id as user_id,username,realname FROM lsblj_user ORDER BY username ASC;
	</select>

	<select id="checkLogin" resultType="com.longersec.blj.domain.User" parameterType="String">
       select <include refid="zd"/>, CAST(AES_DECRYPT(password,(select aeskey from lsblj_config_password_encrypt_key limit 1)) AS VARCHAR(200)) password  
        from lsblj_user where username = #{username} limit 1
    </select>

	<select id="checkUsername" resultType="com.longersec.blj.domain.User" >
        select <include refid="zd"/> from lsblj_user where username = #{username} and id!=#{id} limit 1
    </select>

	<select id="checkADUsername" resultType="com.longersec.blj.domain.User" >
		select <include refid="zd"/> from lsblj_user where username = #{username} limit 1
	</select>

	<select id="checkMobile" resultType="com.longersec.blj.domain.User" >
        select <include refid="zd"/> from lsblj_user where mobile = #{mobile} and id!=#{id} limit 1
    </select>

	<select id="checkEmail" resultType="com.longersec.blj.domain.User" >
        select <include refid="zd"/> from lsblj_user where email = #{email} and id!=#{id} limit 1
    </select>
    
    <select id="checkName" resultType="com.longersec.blj.domain.User">
    	select username,realname from lsblj_user  ORDER BY username ASC
    </select>
    
    <select id="getUserByID" resultType="com.longersec.blj.domain.User" parameterType="String">
        select <include refid="zd"/>, CAST(AES_DECRYPT(password,(select aeskey from lsblj_config_password_encrypt_key limit 1)) AS VARCHAR(200)) password
        from lsblj_user where id = #{id}
    </select>
    <select id="selectAll" resultType="com.longersec.blj.domain.User">
        SELECT
                SQL_CALC_FOUND_ROWS
                <include refid="zd"/>,lsblj_role.name rolename, lsblj_department.name depart_name
                FROM lsblj_user
                LEFT JOIN lsblj_role ON lsblj_user.role_id=lsblj_role.id
                LEFT JOIN lsblj_department ON lsblj_user.department=lsblj_department.id
    </select> 
    
    <select id="total" resultType="java.lang.Integer">
            select count(*) count from lsblj_user;
    </select>

    <select id="getCounts" resultType="java.lang.Integer">
            select count(*) from lsblj_user where groupid=#{group_id}
    </select>

    <select id="checkUser" resultType="com.longersec.blj.domain.User">
        select * from lsblj_user where role_id=#{id} limit 1;
    </select>

    <select id="finduserGroup" resultMap="users">
        SELECT id as user_id,username,realname FROM lsblj_user where groupid = #{i}
    </select>

    <insert id="insertMore">
        INSERT INTO lsblj_user
	    <set>
		    <if test="role_id != null">`role_id`=#{role_id},</if>
		    <if test="username != null">`username`=#{username},</if>
		    <if test="password != null">`password`=AES_ENCRYPT(#{password},(select aeskey from lsblj_config_password_encrypt_key limit 1)),</if>
		    <if test="realname != null">`realname`=#{realname},</if>
		    <if test="department != null">`department`=#{department},</if>
		    <if test="email != null">`email`=#{email},</if>
		    <if test="mobile != null">`mobile`=#{mobile},</if>
		    <if test="qq != null">`qq`=#{qq},</if>
		    <if test="wechat != null">`wechat`=#{wechat},</if>
		    <if test="creator_id != null">`creator_id`=#{creator_id},</if>
	    </set>
    </insert>

    <update id="editUserList">
        <foreach collection="ArrayList" item="item" index="index">
            UPDATE lsblj_user
            <set>
            <if test="item.role_id != null">`role_id`=#{item.role_id},</if>
            <if test="item.username != null">`username`=#{item.username},</if>
            <if test="item.realname != null">`realname`=#{item.realname},</if>
            <if test="item.department != null">`department`=#{item.department},</if>
            <if test="item.password != null">`password`=AES_ENCRYPT(#{item.password},(select aeskey from lsblj_config_password_encrypt_key limit 1)),</if>
            <if test="item.groupid != null">`groupid`=#{item.groupid},</if>
            <if test="item.email != null">`email`=#{item.email},</if>
            <if test="item.mobile != null">`mobile`=#{item.mobile},</if>
            <if test="item.qq != null">`qq`=#{item.qq},</if>
            <if test="item.wechat != null">`wechat`=#{item.wechat},</if>
            </set>
            where id=#{item.id};
        </foreach>

    </update>

</mapper>
