<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longersec.blj.dao.UserGroupUserDao">
	<resultMap id="BaseResultMap" type="com.longersec.blj.domain.UserGroupUser">
		<id column="group_id" jdbcType="INTEGER" property="group_id"/>
		<id column="user_id" jdbcType="INTEGER" property="user_id"/>
	</resultMap>

	<resultMap id="userGroupUserRecordCounts" type="java.lang.Long">
		<result column="recordCounts" jdbcType="BIGINT"/>
	</resultMap>
	<resultMap id="users" type="com.longersec.blj.domain.DTO.Users">
		<id column="user_id" jdbcType="INTEGER" property="user_id"/>
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="realname" jdbcType="VARCHAR" property="realname"/>
	</resultMap>

	<insert id="editUsergroupUser" parameterType="com.longersec.blj.domain.UserGroupUser">
		INSERT INTO lsblj_group_user(group_id, user_id) values
		<foreach collection="users" item="item" separator=",">
		(#{group_id},#{item})
		</foreach>
	</insert>

	<select id="selectUsergroupUserCounts" resultType="java.lang.Integer">
		select count(*) from `lsblj_group_user` where group_id	= #{group_id};
	</select>

	
	<select id="selectById" resultMap="users">
		SELECT
		p.user_id,u.username ,u.realname
		FROM lsblj_group_user p, lsblj_user u
		where group_id = #{group_id}
		and p.user_id=u.id;
	</select>
	
	<delete id="deleteByUserGroupUserId" parameterType="java.util.List">
		DELETE FROM lsblj_group_user
		where group_id = #{group_id}
	</delete>
</mapper>
