<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"l>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>改密策略</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/dist/css/main/main.css">
    <!-- daterangepicker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- date rangepicker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../bower_components/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../bower_components/dist/css/skins/_all-skins.min.css">
  <!-- Google Font -->
  <link rel="stylesheet" href="../../bower_components/treeview/font.css">
</head>
<body class="hold-transition skin-blue sidebar-mini scs">

<div class="wrapper">
    <header class="main-header">
        <div th:replace="/view/common/header :: header"></div>
    </header>
    <aside class="main-sidebar">
        <div th:replace="view/common/menu :: menu"></div>
    </aside>
  <!-- Left side column. contains the logo and sidebar -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!-- <span class="glyphicon glyphicon-list" style="font-size:14px;"></span>
              <ul class="mr-nav-like">
              <li>
              <div><span>改密策略&nbsp;&nbsp;&nbsp;</span>
              </div>
              </li>
              </ul> -->
              <span class="box-title new-header" >改密策略</span>
            </div>
            <hr class="scs-hr1">
            <div class="box-body">
              <div class="input-group margin">
                  <select class="form-control" id="Distinguish">
                    <option value="1" selected>自动识别</option>
                  </select>
                  <input type="text" class="form-control" id="searchId">
                  <span class="input-group-btn">
                    <button type="button" class="btn newaddbtn pull-left " id="search">搜索</button>
                  </span>
             </div>
             <div class="new-add-style">
                   <button type="button" id="new_strategy" class="btn newaddbtn" data-toggle="modal" data-target="#modal-addpolicy">新建</button>
             </div>
              <table id="policyList" class="table table-hover">
                <thead>
                       <tr>
                            <td style="width: 30px"><span>选择</span></td>
                            <td><span>策略名称</span></td>
                           <!--  <td><span>状态</span></td> -->
                            <td><span>执行方式</span></td>
                            <td><span>改密方式</span></td>
                            <!--  <td><span>账户</span></th> -->
                             <td><span>操作</span></th>
                       </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                  <form>
                 <input  type="checkbox" id="checkAll" onclick="sel('chk[]')">
                    <button type="button" data-toggle="modal"  data-target="#modal-delpolicy3" class="btn btn-default newaddbtn2 pull-left" style="margin-left: 50px;">删除</button>
                 </form>
              </div>
            </div>
        </div>
      </div>
          <!--编辑设备-->
    <div class="modal modal-hides" id="modal-primary1">
        <div class="modal-dialog">
            <div class="modal-content">
            <input type="hidden" id="modal1_id">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">关联设备</span>
                </div>
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="active tab-pane">
                            <div class="modal-body">
                                <div class="common-relative-left">
                                    <div><span>可选择的设备</span>
                                    </div>
                                    <div>
                                        <div>
                                            <input type="text" class="form-control"  placeholder="根据关键词搜索"  id="list_ac_editdeviceaccount">
                                            <img src="../../images/big.svg"  id="search_ac_editdeviceaccount">
                                        </div>
                                        <!--dataleft  -->
                                        <div class="data-left7" id="edit_device">
                                        </div>
                                    </div>
                                </div>
                                <!-- add and romove  -->
                                <div class="add-remove">
                                    <button class="btn btn-default " disabled="true"  id="remove7"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                    <button class="btn btn-default " disabled="true"  id="add7"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                </div>
                                <!-- selectall -->
                                <div class="select-left-all">
                                    <input type="checkbox" id="left-checked7">
                                    <span>全选</span>
                                </div>
                                <div class="select-right-all" >
                                    <input type="checkbox" id="right-checked7">
                                    <span>全选</span>
                                </div>
                                <div class="common-relative-right">
                                    <div><span>已选择的设备</span>
                                    </div>
                                    <div>
                                        <div>
                                            <input type="text" class="form-control"  placeholder="根据关键词搜索"  id="list_ac_editdeviceaccount1">
                                            <img src="../../images/big.svg"  id="search_ac_editdeviceaccount1">
                                        </div>
                                        <!-- dataright -->
                                        <div class="data-right7" id="edit_device1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button  type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                                <button  type="button" id="relevance-device" class="btn newaddbtn" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
      <!-- 编辑设备 -->
    <div class="modal modal-hides" id="modal-primary1">
      <div class="modal-dialog">
     <input type="hidden" id="modal1_id">
        <div class="modal-content">
          <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <span class="modal-title">编辑关联设备</span>
          </div>
           <div class="modal-body">
               <div class="common-relative-left">
                 <div>
                 <span>可选择的设备</span>
                 </div>
                 <div>
                     <div>
                         <input type="text" class="form-control"  placeholder="根据关键词搜索" id="list_ac_editdeviceaccount">
                         <img src="../../images/big.svg" id="search_ac_editdeviceaccount">
                     </div>
                     <!--dataleft  -->
                     <div class="data-left" id="edit_device">
                     </div>
                 </div>
             </div>
             <!-- add and romove  -->
             <div class="add-remove">
                 <button class="btn btn-default " disabled="true"  id="remove"><span class="glyphicon glyphicon-chevron-left"></span></button>
                 <button class="btn btn-default " disabled="true"  id="add"><span class="glyphicon glyphicon-chevron-right"></span></button>
             </div>
             <!-- selectall -->
             <div class="select-left-all">
                 <input type="checkbox" id="left-checked">
                 <span>全选</span>
             </div>
             <div class="select-right-all" >
                 <input type="checkbox" id="right-checked">
                 <span>全选</span>
             </div>
             <div class="common-relative-right">
                 <div><span>已选择的设备</span>
                 </div>
                 <div>
                     <div>
                         <input type="text" class="form-control"  placeholder="根据关键词搜索"  id="list_ac_editdeviceaccount1">
                         <img src="../../images/big.svg" id="search_ac_editdeviceaccount1">
                     </div>
                     <!-- dataright -->
                     <div class="data-right" id="edit_device1">

                     </div>
                 </div>
              </div>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
            <button type="button" class="btn newaddbtn" id="relevance-device"  data-dismiss="modal">确定</button>
           </div>
      </div>
     </div>
   </div>
            <!-- /.modal-content 编辑设备组-->
    <div class="modal modal-hides" id="modal-primary2">
      <div class="modal-dialog">
          <input type="hidden" id="modal2_id">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <span class="modal-title">编辑关联设备组</span>
          </div>
         <div class="modal-body">
             <div class="common-relative-left">
                <div><span>可选择的设备组</span>
                </div>
                <div>
                    <div>
                        <input type="text" class="form-control"  placeholder="根据关键词搜索"  id="list_ac_editdevicegroup">
                        <img src="../../images/big.svg" id="search_ac_editdevicegroup">
                    </div>
                    <!--dataleft  -->
                    <div class="data-left1" id="edit_devicegroup">

                    </div>
                </div>
            </div>
            <!-- add and romove  -->
            <div class="add-remove">
                <button class="btn btn-default " disabled="true"  id="remove1"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default " disabled="true"  id="add1"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <!-- selectall -->
            <div class="select-left-all">
                <input type="checkbox" id="left-checked1">
                <span>全选</span>
            </div>
            <div class="select-right-all" >
                <input type="checkbox" id="right-checked1">
                <span>全选</span>
            </div>
            <div class="common-relative-right">
                <div><span>已选择的设备组</span>
                </div>
                <div>
                    <div>
                        <input type="text" class="form-control"  placeholder="根据关键词搜索"  id="list_ac_editdevicegroup1">
                        <img src="../../images/big.svg"  id="search_ac_editdevicegroup1">
                    </div>
                    <!-- dataright -->
                    <div class="data-right1" id="edit_devicegroup1">
                    </div>
               </div>
           </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
         <button type="button" class="btn newaddbtn" id="relevance-device-group"  data-dismiss="modal">确定</button>
        </div>
   </div>
 </div>
            <!-- /.modal-content -->
    </div>
          <!-- /.modal-dialog -->
    <div class="modal modal-hides" id="modal-addpolicy">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <span class="modal-title">新建策略</span>
              </div>
              <div class="modal-body">
              <div class="scs-newadd">
                <div class="scs-name">
                  <p><span>策略名称：</span>
                  <input type="text" id="add_name" placeholder="请输入策略名称">&nbsp;&nbsp;<span id='Vadd_name' style="color:red;font-size: 12px;margin-left: 0px;"></span>
                  <br><span style="font-size: 12px;margin-left: 63px;color: #a4abb5;margin-top: 0px">长度1-64个汉字或字符，允许输入英文</span><br>
                      <span style="font-size: 12px;margin-left: 63px;color: #a4abb5;margin-top: 0px">字母、 数字、或“-”</span>
                  </p>
                </div>
                <div class="scs-method">
                  <span>执行方式：</span>
                  <select name="lo" id="add_type" onchange="showfinger(this.value);">
                    <option value="0">手动执行</option>
                    <option value="1">定时执行</option>
                    <option value="2">周期执行</option>
                  </select>
                </div>
                <div id="div5">
                  <p><span>执行时间：</span>
                  <input type="text" id="add_exec_datetime">&nbsp;&nbsp;<span id='Vadd_exec_datetime' style="color:red;font-size: 12px;"></span></p>
                </div>
                <div id="div6">
	               <div>
	                 <p><span>执行时间：</span>
	                 <input type="text" id="add_exec_datetime1">&nbsp;&nbsp;<span id='Vadd_exec_datetime1' style="color:red;font-size: 12px;"></span></p>
	               </div>
	               <div>
	                 <p><span>执行周期：</span>
	                 <input type="text" id="add_internal" value="0"><span>&nbsp;&nbsp;天</span>&nbsp;&nbsp;<span id='Vadd_internal' style="color:red;font-size: 12px;"></span></p>
	               </div>
	               <div>
	                 <p><span>结束时间：</span>
	                 <input type="text"  id="add_end_datetime">&nbsp;&nbsp;<span id='Vadd_end_datetime' style="color:red;font-size: 12px;"></span></p>
	               </div>
                </div>
                <div class="scs-method1">
                  <span>改密方式：</span>
                  <select name="lo" id="add_changetype">
                    <option value="0">生成不同密码</option>
                    <option value="1">生成相同密码</option>
                    <option value="2">指定相同密码</option>
                  </select>
                </div>
                <div class="scs-more">
                  <span>更多选项:</span>
                  <input type="checkbox" class="input" id="add_allow_root"><span>优先使用特权账号改密</span><br>
                  <input type="checkbox" class="input" id="add_allow_change_root"><span>允许修改特权账号密码</span>
                </div>
              </div>
              </div>
                  <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                    <button type="button" id="next_step" class="btn newaddbtn"  data-toggle="modal" >下一步</button>
                </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </div>
    <div class="modal modal-hides" id="modal-editpolicy">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <span class="modal-title">编辑策略</span>
                    </div>
                     <div class="modal-body">
                    <div class="scs-newadd">
                        <div class="scs-name">
                            <p><span>策略名称：</span>
                                <input type="text"  id="edit_name">&nbsp;&nbsp;<span id='Vedit_name' style="color:red;font-size: 12px;margin-left: 0px;"></span><br>
                                <span style="font-size: 12px;margin-left: 63px;color: #a4abb5;margin-top: 0px">长度1-64个汉字或字符，允许输入英文</span><br>
                                <span style="font-size: 12px;margin-left: 63px;color: #a4abb5;margin-top: 0px">字母、 数字、或“-”</span>
                            </p>
                        </div>
                        <div class="scs-method">
                            <span>执行方式：</span>
                            <select name="lo"  id="edit_type1"  onchange="showfinger1(this.value);">
                                <option value="0">手动执行</option>
                                <option value="1">定时执行</option>
                                <option value="2">周期执行</option>
                            </select>
                        </div>
                        <div id="div4">
                            <p><span>执行时间：</span>
                                <input type="text" id="edit_exec_datetime">&nbsp;&nbsp;<span id='Vedit_exec_datetime' style="color:red;font-size: 12px;"></span></p>
                        </div>
                        <div id="div3">
                            <div>
                                <p><span>执行时间：</span>
                                    <input type="text" id="edit_exec_datetime1">&nbsp;&nbsp;<span id='Vedit_exec_datetime1' style="color:red;font-size: 12px;"></span></p>
                            </div>
                            <div>
                                <p><span>执行周期：</span>
                                    <input type="text" id="edit_internal"><span>&nbsp;&nbsp;天</span>&nbsp;&nbsp;<span id='Vedit_internal' style="color:red;font-size: 12px;"></span></p>
                            </div>
                            <div>
                                <p><span>结束时间：</span>
                                    <input type="text"  id="edit_end_datetime">&nbsp;&nbsp;<span id='Vedit_end_datetime' style="color:red;font-size: 12px;"></span></p>
                            </div>
                        </div>
                        <div class="scs-method1">
                            <span>改密方式：</span>
                            <select name="lo" id="edit_changetype">
                                <option value="0">生成不同密码</option>
                                <option value="1">生成相同密码</option>
                                <option value="2">指定相同密码</option>
                            </select>
                        </div>
                        <div class="scs-more">
                            <span>更多选项:</span>
                            <input type="checkbox" id="edit_allow_root" class="input" checked="checked" ><span>优先使用特权账号改密</span><br>
                            <input type="checkbox" id="edit_allow_change_root" class="input" checked="checked" ><span>允许修改特权账号密码</span>
                        </div>
                      </div>
                     </div><br>
                        <div class="modal-footer">
                            <button type="button"  class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                            <button type="button" class="btn newaddbtn" id="editButton" data-dismiss="modal">确定</button>
                            <input type="hidden" id="edit_id" />
                        </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    <div class="modal modal-hides" id="modal-delpolicy">
          <div class="modal-dialog">
              <div class="modal-content newdiv" style="width: 350px;margin-left: 80px">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      <span class="modal-title">提示</span>
                  </div>
                  <div class="ug-delsure" style="margin-left: 65px!important;margin-top: 30px;">
                  <p>您确定要删除改密策略吗？</p>
                </div><br>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                   <button type="button" class="btn newaddbtn" id="delButton" data-dismiss="modal">确定</button>
                   <input type="hidden" id="del_id" />
                  </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
     </div>
        <div class="modal modal-hides" id="modal-delpolicy3">
            <div class="modal-dialog">
                <div class="modal-content newdiv" style="width: 350px;margin-left: 80px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <span class="modal-title">提示</span>
                    </div>
                    <div class="ug-delsure" style="margin-left: 70px!important;margin-top: 30px;">
                        <p>您确定要删除所选改密策略吗？</p>
                    </div><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                        <button type="button" class="btn newaddbtn" id="delAllButton" data-dismiss="modal">确定</button>
<!--                        <input type="hidden" id="del_id2" />-->
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
  <div class="modal modal-hides" id="modal-execmd">
    <div class="modal-dialog">
        <div class="modal-content newdiv" style="width: 350px;margin-left: 80px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <span class="modal-title">提示</span>
            </div>
            <div class="ug-delsure" style="margin-left: 90px;margin-top: 30px;">
            <p>您确定要执行吗？</p>
          </div><br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
             <button type="button" id="execCmdBtn" class="btn newaddbtn" data-dismiss="modal">确定</button>
           <input type='hidden' id="policy_id">
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
     <!-- 新建设备和设备组 -->
    <div class="modal modal-hides" id="modal-default1">
       <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <span class="modal-title">新建策略</span>
          </div>
          <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                 <li class="active"><a href="#ab" data-toggle="tab">关联设备</a></li>
                 <li><a href="#ad" data-toggle="tab">关联设备组</a></li>
              </ul>
            <div class="tab-content">
               <div class="active tab-pane" id="ab">
                  <div class="modal-body">
                        <div class="common-relative-left" >
                        <div><span>可选择的设备</span>
                        </div>
                        <div>
                            <div>
                                <input type="text" class="form-control">
                                <img src="../../images/big.svg">
                            </div>
                            <!--dataleft  -->
                            <div class="data-left2" id="add_device">
                            </div>
                        </div>
                    </div>
                    <!-- add and romove  -->
                    <div class="add-remove">
                        <button class="btn btn-default " disabled="true"  id="remove2"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-default " disabled="true"  id="add2"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <!-- selectall -->
                    <div class="select-left-all">
                        <input type="checkbox" id="left-checked2">
                        <span>全选</span>
                    </div>
                    <div class="select-right-all" >
                        <input type="checkbox" id="right-checked2">
                        <span>全选</span>
                    </div>
                    <div class="common-relative-right">
                        <div><span>已选择的设备</span>
                        </div>
                        <div>
                            <div>
                                <input type="text" class="form-control">
                                <img src="../../images/big.svg">
                            </div>
                            <!-- dataright -->
                            <div class="data-right2" id="add_device1">
                            </div>
                        </div>
                  </div>
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                  <button type="button" class="btn newaddbtn" data-dismiss="modal" data-toggle="modal" data-target="#modal-addpolicy">上一步</button>
                   <button type="button" class="btn newaddbtn" id="addButton" data-dismiss="modal">确定</button>
                  </div>
            </div>
               <div class="tab-pane" id="ad">
                   <div class="modal-body">
                      <div class="common-relative-left">
                        <div><span>可选择的设备组</span>
                        </div>
                        <div>
                            <div>
                                <input type="text" class="form-control">
                                <img src="../../images/big.svg">
                            </div>
                            <!--dataleft  -->
                            <div class="data-left3" id="add_devicegroup">
                            </div>
                        </div>
                    </div>
                    <!-- add and romove  -->
                    <div class="add-remove">
                        <button class="btn btn-default " disabled="true"  id="remove3"><span class="glyphicon glyphicon-chevron-left"></span></button>
                        <button class="btn btn-default " disabled="true"  id="add3"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                    <!-- selectall -->
                    <div class="select-left-all">
                        <input type="checkbox" id="left-checked3">
                        <span>全选</span>
                    </div>
                    <div class="select-right-all" >
                        <input type="checkbox" id="right-checked3">
                        <span>全选</span>
                    </div>
                    <div class="common-relative-right">
                        <div><span>已选择的设备组</span>
                        </div>
                        <div>
                            <div>
                                <input type="text" class="form-control">
                                <img src="../../images/big.svg">
                            </div>
                            <!-- dataright -->
                            <div class="data-right3" id="add_devicegroup1">
                            </div>
                        </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-default newaddbtn2" data-dismiss="modal">取消</button>
                  <button type="button" class="btn newaddbtn" data-dismiss="modal" data-toggle="modal" data-target="#modal-addpolicy">上一步</button>
                   <button type="button"  class="btn newaddbtn"  id="addButton1" data-dismiss="modal">确定</button>
                  </div>
               </div>
            </div>

          </div>
        </div>
      </div>
            <!-- /.modal-content -->
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div th:replace="view/common/footer :: footer"></div>
    </footer>
  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="../../bower_components/plugins/jQueryUI/jquery.js"></script>
<script src="../../bower_components/plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="../../js/common/common.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../../bower_components/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../bower_components/dist/js/demo.js"></script>
<!-- date-range-picker -->
<script src="../../bower_components/moment/min/moment.min.js"></script>
<script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../js/common/modal.js"></script>
<!-- <script src="../../js/common/relative.js"></script> -->
<script src="../../js/view_js/secret_change_strategy.js"></script>
<script src="../../js/common/relative.js"></script>
<script src="../../bower_components/dist/js/checkAll.js"></script>
<!-- page script -->
</body>
</html>
